<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Login Page</title>
  <link rel="stylesheet" type="text/css" href="custom.css">
</head>
<body>
<div class="container">
  <h1>Login</h1>
  <form>
    <label for="email"><b>Email</b></label>
    <label>
      <input type="text" placeholder="Enter Email" name="email" required>
    </label>

    <label for="password"><b>Password</b></label>
    <label>
      <input type="password" placeholder="Enter Password" name="password" required>
    </label>

    <button type="submit">Login</button>
  </form>
  <a href="#">Forgot password?</a>
</div>
</body>
</html>
